    <section class="benefit container">
        <div class="heading">
            <h2>Member <span>benefits.</span></h2>
        </div>
        <div class="benefits-cards column">
            <article class="b-card">
                <img src="./imgs/p1.png" alt="Benefit image 1">
                <h3>World-class Teachers</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus pariatur aut neque doloribus distinctio 
                    error ipsam! Quas!</p>    
            </article>
            <article class="b-card">
                <img src="./imgs/p2.png" alt="Benefit image 2">
                <h3>Stay Inspired</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus pariatur aut neque doloribus distinctio 
                    error ipsam! Quas!</p>    
            </article>
            <article class="b-card">
                <img src="./imgs/p3.png" alt="Benefit image 3">
                <h3>Everywhere you are</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus pariatur aut neque doloribus distinctio 
                    error ipsam! Quas!</p>    
            </article>
        </div>
    </section>