<section class="challenge container">
  <div class="heading">
    <h2>Challenge <span>yourself.</span></h2>
    <p>Take your practice to the next level with our on-going yoga challenge.</p>
  </div>

  <div class="row center">
    <div class="swiper mySwiper challenge-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./imgs/lunge.jpeg" alt="Lunge pose"></div>
        <div class="swiper-slide"><img src="./imgs/craddle.jpeg" alt="Craddle pose"></div>
        <div class="swiper-slide"><img src="./imgs/om.jpeg" alt="Om pose"></div>
        <div class="swiper-slide"><img src="./imgs/open.jpg" alt="Open yoga pose"></div>
      </div>

      <div class="swiper-button-prev row">
        <svg width="38px" height="36px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <polyline points="15 18 9 12 15 6" />
        </svg>
      </div>

      <div class="swiper-button-next row">
        <svg width="38px" height="36px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
