<div class="hero">
  <div class="hero-inner container">
    <div class="hero-content">
      <h1>Practice <span>at home.</span></h1>
      <h3>With The World's Top Yoga Teachers.</h3>
      <p class="p-line">Stream hundreds of expertly led yoga & meditation classes on any device. Your free trial awaits. Cancel online anytime.</p>
      <a href="#" class="page-btn">Start Your Free Trial</a>
    </div>
    <div class="badge-wrapper">
      <h4 class="more-than">More Than</h4>
      <div class="number-class">
        <h1>+200</h1>
        <p>Classes</p>
      </div>
    </div>
  </div>
</div>