<section class="teachers container">
  <div class="heading">
    <h2>Meet our <span>teachers.</span></h2>
  </div>
  <div class="teacher-profiles">
    <div class="profile-card glass-box">
      <div class="profile-content-sharp">
      <img src="./imgs/LI pix.jpg" alt="Jylian" />
      <h3>Jylian Summers</h3>
      <p>Vinyasa · Hatha · Mindfulness</p>
    </div> </div>
    <div class="profile-card glass-box">
      <div class="profile-content-sharp">
      <img src="./imgs/yoga 1.jpeg" alt="Rachel S." />
      <h3>Rachel S.</h3>
      <p>Ashtanga · Yin · Meditation</p>
    </div></div>
    <div class="profile-card glass-box">
      <div class="profile-content-sharp">
      <img src="./imgs/yoga 4.jpeg" alt="Emma C." />
      <h3>Emma C.</h3>
      <p>Power · Restorative · Pranayama</p>
    </div>
  </div>
</div>
</section>